<div class="header-margin"></div>
<section class="">
  <div class="spacer-xl style-2"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectionTitle fadeInTop grey-title"><h1 class="h4 as text-center title">Зони доставки у Львові</h1>
        </div>
        <div class="spacer-lg delete-on-mobile"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
      <div class="detailInfo">
        <div class="simpleArticle fadeInTop"><p>Сервіс доставки їжі у Львові «LA П’ЄЦ» пропонує надзвичайно зручний
          механізм доставки та оплати. Ми вважаємо, що наші стандарти роботи мають бути класикою та комфортом для
          замовника.</p>
          <p>Отже, почнемо з доставки. Ми ділимо Львів на зони доставки – зелену і жовту. Для кожної зони ми чітко
            визначаємо час приїзду кур’єра і в разі затримки Ви отримуєте приємний сюрприз, про який ми поговоримо трохи
            пізніше. Для кожної із зон доставка є абсолютно безкоштовною.</p>
          <p>Доставка в зелену зону Львова – до 29 хвилин. Доставка в жовту зону – до 59 хвилин. Ми дуже цінуємо Ваш
            час, тому завжди намагаємось вкластись у мінімальні терміни і вимірюємо час хвилинами, адже кожна хвилина
            важлива. Погодьтесь, приємно отримати смачну, гарячу та запашну піцу протягом 59 хвилин, правда?</p>
          <p>Замовлення заздалегідь доставляються плюс-мінус 15 хвилин від вказаного часу. Наприклад, якщо ви замовили
            доставку на 12:00, то кур’єр може доставити замовлення в інтервалі 11:45 – 12:15.</p>
          <p>Якщо кур’єр спізнюється, Ви отримуєте не лише вибачення, а ще й промокод на безкоштовну піцу при наступному
            замовленні!</p></div>
      </div>
      <div class="spacer-xl hidden-xs"></div>
      <div class="simpleHR"></div>
      <div class="spacer-xl"></div>
    </div>
  </div>
</section>
